version: 2.1
jobs:
  build:
    docker:
      - image: circleci/python:3.6.8
    working_directory: ~/cimr-d
    resource_class: large
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "2e:fb:e9:d5:94:c6:f4:75:2c:cb:66:71:a9:af:93:8a"
      - run:
          name: Install cimr + dependencies
          command: |
            bash .circleci/install_cimr.sh
      - run:
          name: Process new PR
          command: |
            python3 .circleci/process_submitted_data.py
      - persist_to_workspace:
          root: ~/cimr-d
          paths:
            - .git
            - .circleci
            - processed_data

  deploy:
    machine: true
    working_directory: ~/cimr-d
    steps:
      - attach_workspace:
          at: ~/cimr-d
      - add_ssh_keys:
          fingerprints:
            - "60:6d:08:51:d2:1b:3d:5c:af:f8:e1:b5:41:d0:7e:20"
      - run:
          name: Commit processed data
          command: |
            bash .circleci/push_processed_data.sh

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
