version: 2.1

references:

  container_config: &container_config
    docker:
      - image: circleci/python:3.6.8
      - image: ypar/miniconda3:4.5.4
    resource_class: large
    shell: bash
    working_directory: ~/cimr-d

jobs:

  build:
    <<: *container_config
    steps:
      - add_ssh_keys:
          fingerprints:
            - "3d:e4:d3:51:b6:59:21:36:27:c7:9d:5a:89:cb:c2:df"
      - checkout
      - run:
          name: Install git-lfs
          command: |
            cd /tmp
            wget https://github.com/git-lfs/git-lfs/releases/download/v2.7.2/git-lfs-linux-386-v2.7.2.tar.gz
            mkdir -p git-lfs
            cd git-lfs
            tar xzf ../git-lfs-linux-386-v2.7.2.tar.gz
            sudo ./install.sh
            git lfs install
      - run:
          name: Install cimr + dependencies
          command: |
            .circleci/install_cimr.sh
      - run:
          name: Process new PR
          requires:
            - build
          command: |
            python3 .circleci/process_submitted_data.py
  
  deploy:
    machine: true
    working_directory: ~/cimr-d
    steps:
      - attach_workspace: 
          at: ~/cimr-d
      - run:
          name: Commit processed data
          requires:
            - build
            - process
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              python3 .circleci/push_processed_data.sh
            else
              echo "Processed data needs to be commited on the master branch"
            fi
            
workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
